<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GaidoSystem</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .dropdown-item {
            font-weight: bold
        }
        .flex-column
        {
            margin-top:10px;
            margin-bottom:10px;
            w
        }
    </style>
</head>
<body class="bg-white">
    <header>
        <nav class="container-fluid">
            <div class="row">
                <div class="col-md-2 d-none d-md-block bg-dark sidebar">
                    <a class="navbar-brand" style="background-color:#1c4249;border-radius:5px;margin-bottom:10px; margin-top:10px; margin-left:auto;" asp-controller="Home" asp-action="Index">
                        <video class="embed-responsive-item" controls autoplay loop muted style="height:50%;width:70%; margin-left:auto;margin-right:auto;border-radius:5px">
                            <source src="~/Vids/output_free.mp4" type="video/mp4" />
                        </video>
                        <label style="padding-right:10px;color:white">Gaido</label>
                    </a>
                    <!--Prueva de pull-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"></button>
                    <div class="sidebar-sticky">
                        <div class="nav flex-column">
                            <!--desde style hasta flase-->
                            <button style="background-color:#1c4249;" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Proyecciones
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Nuevo ER</a>
                                <a class="dropdown-item" href="#">Editar ER</a>
                                <a class="dropdown-item" href="#">Historial ER</a>
                            </div>
                        </div>
                        <div class="nav flex-column">
                            <!---->
                            <button style="background-color:#1c4249;" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Modelos
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="ModeloProyeccions" asp-action="Create">Nuevo</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ModeloProyeccions" asp-action="Index">Editar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Proyecciones" asp-action="Index">Proyectar</a>
                            </div>
                        </div>
                        <div class="nav flex-column">
                            <!---->
                            <button style="background-color:#1c4249;" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ER
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="" asp-controller="HistorialERs" asp-action="Create">Nuevo</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HistorialERs" asp-action="Index">Historial</a>
                            </div>
                        </div>
                        <div class="nav flex-column">
                            <!---->
                            <button style="background-color:#1c4249;" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Informes
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Nuevo ER</a>
                                <a class="dropdown-item" href="#">Editar ER</a>
                                <a class="dropdown-item" href="#">Historial ER</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

                    @RenderBody()

                    <partial name="_CookieConsentPartial" />

                </main>
            </div>
        </nav>
    </header>



    @*<footer class="border-top footer text-muted bg-dark">
            <div class="container">
                &copy; 2019 - GaidoSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>


@*https://getbootstrap.com/docs/4.0/components/dropdowns/*@



@*<ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>*@