@model GaidoSystem.Models.HistorialER

@{
    ViewData["Title"] = "Create";
}
    <style>
        .form-group,h2{
            color:black;
        }
    </style>
    <h2>Ingresar</h2>
<div class="container">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="VentasNetas" class="control-label"></label>
                <input asp-for="VentasNetas" class="form-control" />
                <span asp-validation-for="VentasNetas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostosVentas" class="control-label"></label>
                <input asp-for="CostosVentas" class="form-control" />
                <span asp-validation-for="CostosVentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GastosAdmin" class="control-label"></label>
                <input asp-for="GastosAdmin" class="form-control" />
                <span asp-validation-for="GastosAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GastosVentas" class="control-label"></label>
                <input asp-for="GastosVentas" class="form-control" />
                <span asp-validation-for="GastosVentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GastosOperativos" class="control-label"></label>
                <input asp-for="GastosOperativos" class="form-control" />
                <span asp-validation-for="GastosOperativos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtrosGastos" class="control-label"></label>
                <input asp-for="OtrosGastos" class="form-control" />
                <span asp-validation-for="OtrosGastos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
