@{ /*
    ViewData["Title"] = "Home Page";*/
}

    <div class="text-center">
        <!-- <h1  class="display-3">@ViewData["Title"]</h1>-->
        <div class="embed-responsive embed-responsive-16by9" style="border-style:solid;border-color:#343a40;border-width:5px;border-radius:20px;">
            <video class="embed-responsive-item"controls autoplay loop muted>
                <source src="~/Vids/output_free.mp4" type="video/mp4" />
            </video>
        </div>

    </div>
